*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: grid;
    width: 85%;
    margin:10px auto;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(244, 233, 233);
    box-shadow: 0 0 5px gray;
    
}
.box1{
    background-color: lightblue;
    grid-column: 1/-1;   

}
.box2{
    margin-top: 10px;
    background-color: white;
    grid-column: 1/-1;

}
.box3{
    text-align: center;
    padding-top: 20px;
    height: 270px;
    width: 320px;
    margin: 0 auto;
}
.box3 a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.box4{
    text-align: center;
    padding-top: 20px;
    height: 270px;
    width: 320px;
    margin: 0 auto;
}
.box4 a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.box5{
    text-align: center;
    padding-top: 20px;
    height: 270px;
    width: 320px;
    margin: 0 auto;
}
.box5 a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.box6{
    text-align: center;
    position: relative;
    top: 50px;
    height: 300px;
    width: 320px;
    margin: 0 auto;
}
.box6 a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.box7{
    text-align: center;
    position: relative;
    top: 50px;
    height: 270px;
    width: 320px;
    margin: 0 auto;
}
.box7 a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.box8{
    text-align: center;
    position: relative;
    top: 50px;
    height: 250px;
    width: 320px;
    margin: 0 auto;
}
.box8 a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.box9{
    background-color: lightseagreen;
    grid-column: 1/-1;
    margin-top: 70px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
}
.navmenu{
    display: flex;
    align-items: center;
}
.navlinks{
    color: black;
    text-decoration: none;
    padding: 18px 22px;
    transition: 0.3s;
    font-size: 18px;
}
.navlinks:hover{
    background-color: black;
    color: white;
}
.logo{
    text-decoration: none;
    background: linear-gradient(90deg,red, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 20px;
}
.box2{

}
.bnr2{
    display: none;
}

@media (max-width:768px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
    }
    .box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9{
        grid-column-start: span 3;
    }
    .box3,.box4,.box5{
        top: 20px;
        margin-top: 30px;
    }
    .box6,.box7,.box8{
        margin-top: 50px;
    }
    .navlinks{
        display: none;
    }
    .box9{
        margin-top: 130px;
    }
    .box2{
        height: 300px;
    }
    .bnr1{
        display: none;
    }
    .bnr2{
        display: initial;
    }
}
@media (max-width:1150px){
    .box3,.box4,.box5,.box6,.box7,.box8{
        width: 250px;
        top: 50px;
    }
}
@media (max-width:1000px){
    .box3,.box4,.box5,.box6,.box7,.box8{
        width: 210px;
        top: 50px;
    }
}