*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: grid;
    width: 85%;
    margin:0 auto;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(244, 233, 233);
    box-shadow: 0 0 5px gray;
    
}
.box1{
    background-color: lightblue;
    grid-column: 1/-1;   

}
.box2{
    margin-top: 10px;
    background-color: white;
    grid-column: 1/-1;

}
.box3{
    text-align: center;
    padding-top: 20px;
    height: 270px;
    width: 320px;
    margin: 0 auto;
}
.box3 img{
    transition: 0.3s;
    border-radius: 12px;
}
.box3 a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.box3 img:hover{
    transform: scale(1.03);
}
.box4{
    text-align: center;
    padding-top: 20px;
    height: 270px;
    width: 320px;
    margin: 0 auto;
}
.box4 img{
    transition: 0.3s;
    border-radius: 12px;
}
.box4 a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    transition: 0.3s;
}
.box4 img:hover{
    transform: scale(1.03);
}
.box5{
    text-align: center;
    padding-top: 20px;
    height: 270px;
    width: 320px;
    margin: 0 auto;
}
.box5 img{
    transition: 0.3s;
    border-radius: 12px;
}
.box5 a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.box5 img:hover{
    transform: scale(1.03);
}
.box6{
    text-align: center;
    position: relative;
    top: 50px;
    height: 300px;
    width: 320px;
    margin: 0 auto;
}
.box6 img{
    transition: 0.3s;
    border-radius: 12px;
}
.box6 a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.box6 img:hover{
    transform: scale(1.03);
}
.box7{
    text-align: center;
    position: relative;
    top: 50px;
    height: 270px;
    width: 320px;
    margin: 0 auto;
}
.box7 img{
    transition: 0.3s;
    border-radius: 12px;
}
.box7 a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.box7 img:hover{
    transform: scale(1.03);
}
.box8{
    text-align: center;
    position: relative;
    top: 50px;
    height: 250px;
    width: 320px;
    margin: 0 auto;
}
.box8 img{
    transition: 0.3s;
    border-radius: 12px;
}
.box8 a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.box8 img:hover{
    transform: scale(1.03);
}
.box9{
    background-color: lightseagreen;
    grid-column: 1/-1;
    margin-top: 70px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
}
.navmenu{
    display: flex;
    align-items: center;
}
.navlinks{
    color: black;
    text-decoration: none;
    padding: 18px 22px;
    transition: 0.3s;
    font-size: 18px;
}
.navlinks:hover{
    background-color: lightseagreen;
    color: white;
}
.logo{
    text-decoration: none;
    background: linear-gradient(90deg,red, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 20px;
}
.searchbar{
    width: 300px;
    height: 25px;
    text-align: center;
    outline: 0;
    margin-right: 50px;
    transition: 0.3s;
    -webkit-text-fill-color: black;
}
.search-icon{
    position: relative;
    right: 86.5px;
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 3px 10px;
    transition: 0.3s;
}
.search-icon:hover{
    background-color: lightseagreen;
    color: black;
}
.bnr2{
    display: none;
}
body{
    background-image: url(img/360_F_215948377_kgIhNUy4X0iYsyUfYd9KKIViSPOxclbC.jpg);
}
@media (max-width:798px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        width: 100%;
        margin: 0 auto;
    }
    .navbar{
        background-color: white;
    }
    .box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9{
        grid-column-start: span 3;
    }
    .box3,.box4,.box5{
        top: 20px;
        margin-top: 30px;
    }
    .box6,.box7{
        margin-top: 15px;
    }
    .box8{
        margin-top: 50px;
    }
    .navlinks{
        display: none;
    }
    .box9{
        margin-top: 130px;
    }
    .box2{
        height: 300px;
    }
    .bnr1{
        display: none;
    }
    .bnr2{
        display:inherit
    }
    .searchbar{
        display: none;
    }
    .search-icon{
        display: none;
    }
}
@media (max-width:1150px){
    .box3,.box4,.box5,.box6,.box7,.box8{
        width: 250px;
        top: 50px;
    }
}
@media (max-width:1000px){
    .box3,.box4,.box5,.box6,.box7,.box8{
        width: 210px;
        top: 50px;
    }
    .searchbar{
        width: 250px;
        margin-right: 0;
    }
    .search-icon{
        right: 36.5px;
    }
}
@media (max-width:880px){
    .searchbar{
        width: 190px;
    }
}